<p></p>
<h4>Login</h4>
<!-- <h1 *ngIf="authenticationService.userData | async">Hello {{ (authenticationService.userData | async)?.email }}</h1> -->

<!-- <div *ngIf="!(authService.userData | async)">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="password" [(ngModel)]="password" placeholder="password">

    <button (click)="signUp()">Sign Up</button>

    <button (click)="login()">Login</button>
</div>

<button (click)="signOut()" *ngIf="authService.userData | async">Logout</button> -->
<form *ngIf="!(authService.user | async)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" 
             class="form-control" 
             id="email" 
             placeholder="Enter email"
             name="email" #email>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" 
             class="form-control" 
             id="password" 
             placeholder="Enter password"
             name="password" #password>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <div>
      <button class="btn btn-primary" (click)="login(email.value, password.value)">
        Submit
      </button>
    </div>
  </form>

<!-- <form class="form-inline" *ngIf="!(authService.userData | async)">
  <div class="form-group">
    <label for="email">Email: </label>
    <input class="form-control" 
           name="email" #email>
  </div>

  <div class="form-group">
    <label for="password">Password: </label>
    <input class="form-control" 
           type="password" 
           name="password" #password>
  </div>

  <a [routerLink]="['/app-dashboard']" class="btn btn-default" (click)="login(email.value, password.value)">
    Submit
  </a>
</form> -->

<!-- <div class="well" *ngIf="authService.getUser()">
  Logged in as <b>{{ authService.getUser() }}</b>
  <a href (click)="logout()">Log out</a>
</div> -->
