<p>update dashboard works!</p>

<!-- <div class="card" style="width: 18rem;" *ngIf="toggleUpdate">
    <div class="card-body">
        <form [formGroup]="businessCardForm" class="form-group">
            <p class="card-text"><small class="text-muted">First name:</small></p>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control"id="firstName" 
                            [formControl]="businessCardForm.controls['firstName']">
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Last name:</small></p>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control"id="lastName" 
                            [formControl]="businessCardForm.controls['lastName']">
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Organization:</small></p>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control"id="organization" 
                            [formControl]="businessCardForm.controls['organization']">
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Email:</small></p>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control"id="email" 
                            [formControl]="businessCardForm.controls['email']">
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Phone Number:</small></p>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control"id="Phone number" 
                            [formControl]="businessCardForm.controls['phoneNumber']">
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Additional Information:</small></p>
            <div class="form-row">
                <div class="col">
                    <textarea type="text" class="form-control" id="additionalInfo" 
                            [formControl]="businessCardForm.controls['additionalInfo']">
                    </textarea>
                </div>
            </div>
            <br/>
            <div class="btn-toolbar justify-content-center" role="toolbar">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <span>
                        <button class="btn btn-light" (click)="UpdateBusinessCard()">
                            Submit
                        </button>
                    </span>
                </div>
                <div>
                    <span>
                        <button class="btn btn-secondary" (click)="toggleUpdateForm()">
                            Exit
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<br/> -->