<p></p>
<div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{ businessCard.firstName }} {{ businessCard.lastName }}</h5>
        <p class="card-text">{{ businessCard.email }}</p>
        <p class="card-text">{{ businessCard.phoneNumber }}</p>
        <p class="card-text">{{ businessCard.additionalInfo }}</p>
        <!-- <a class="btn btn-secondary">Do something</a> -->
        <button class="btn btn-secondary">
            todo
        </button>
    </div>
</div>
