<p></p>
<h4>Create Business Card</h4>
<p></p>
<div style="text-align:center">
    <div  *ngIf="!webcamImage">
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                [imageQuality]="1"
                (initError)="handleInitError($event)">
        </webcam>
        <br/>
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="triggerSnapshot();">
            <i class="fa fa-camera"></i>
            Capture
        </button>
    </div>
</div>
  
<div class="snapshot" style="text-align:center" *ngIf="webcamImage">
    <img [width]="500" [src]="webcamImage.imageAsDataUrl" id="image" (load)="convertToBase64()" />
    <p style="margin: 6px"></p>
    <div>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="webcamImage = !webcamImage">
                <i class="fa fa-repeat"></i>

            Retake
        </button>
    </div>
</div>

<br/>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>

<div class="form-group">
    <form [formGroup]="businessCardForm"
        (ngSubmit)="onSubmit(businessCardForm.value)"
        class="form-group">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
                <input type="text" 
                    class="form-control" 
                    id="firstName" 
                    placeholder="First"
                    [formControl]="businessCardForm.controls['firstName']">
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
                <input type="text" 
                        class="form-control" 
                        id="lastName" 
                        placeholder="Last"
                        [formControl]="businessCardForm.controls['lastName']">
            </div>
        </div>
    <div class="form-group row">
            <label for="organization" class="col-sm-2 col-form-label">Organization</label>
            <div class="col-sm-10">
                <input type="text" 
                        class="form-control" 
                        id="organization" 
                        placeholder="Company"
                        [formControl]="businessCardForm.controls['organization']">
            </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" 
                    class="form-control" 
                    id="email" 
                    placeholder="my@email.com"
                    [formControl]="businessCardForm.controls['email']">
        </div>
    </div>
    <div class="form-group row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
        <div class="col-sm-10">
            <input type="text" 
                    class="form-control" 
                    id="phoneNumber" 
                    placeholder="(123) 456-7890"
                    [formControl]="businessCardForm.controls['phoneNumber']">
        </div>
    </div>
    <div class="form-group row">
        <label for="additionalInfo" class="col-sm-2 col-form-label">Information</label>
        <div class="col-sm-10">
            <textarea type="text" 
                    class="form-control" 
                    id="additionalInfo" 
                    placeholder="additional info"
                    [formControl]="businessCardForm.controls['additionalInfo']">
            </textarea>
        </div>
    </div>
    <div class="btn-toolbar justify-content-center" role="toolbar">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" 
                class="btn btn-outline-primary my-2 my-sm-0">
                <i class="fa fa-address-card"></i>
                Submit
            </button>
        </div>
    </div>
    </form>
</div>
<br/>
<br/>

