<br/>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="queryList()">
        <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="searchNameButton" 
           id="searchName" [value]="1" [(ngModel)]="searchType">
    <label class="form-check-label" for="searchName">
          First name
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="searchOrgButton" 
           id="searchOrg" [value]="2" [(ngModel)]="searchType">
    <label class="form-check-label" for="searchOrg">
          Organization
    </label>
</div>


<p></p>
<div class="card-deck">
    <app-business-card
        *ngFor="let businessCard of (businessCardsRef | async)"
        [businessCard]="businessCard"
        [businessCardRef]="businessCard">
    </app-business-card>
</div>

